* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  max-width: 850px;
  margin: auto;
  padding: 30px;
  background-color: rosybrown;
}

.logo {
  display: flex;
  justify-content: space-around;
  margin-right: 200px;
}

span.white {
  color: white;
  font-size: 1.3rem;
}

span.brown {
  color: brown;
  font-size: 1.5rem;
  font-style: oblique;

}

nav {
  display: flex;
  background-image: url("https://hawthorne-s3-bucket.s3.us-east-2.amazonaws.com/variants/sXvCyLkAbsPwva6P9kE25NVx/768eff9996599ab9280e358ca6f7c3b785fca918ec5f6eb13b283314042dcbbe");
  background-size: cover;
  height: 120px;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul li {
  padding: 32px;
  list-style: none;
  
}

li a {
  color: brown;
  font-size: 2rem;
  margin: 1px;
  text-decoration: none;
}

li a:visited {
  color: rosybrown;
}
li a:hover {
  color: red;
}

li a:active {
  color: palevioletred;
}

header {
  background-image: url("https://hawthorne-s3-bucket.s3.us-east-2.amazonaws.com/variants/sXvCyLkAbsPwva6P9kE25NVx/768eff9996599ab9280e358ca6f7c3b785fca918ec5f6eb13b283314042dcbbe");
  background-size: cover;
  text-align: center;
  font-size: 2rem;
  height: 47px;
}

header h1 {
  color: brown;
}

main {
  max-width: 850px;
  justify-content: center;
  font-size: 1.2rem;
  line-height: 150%;
  background-color: white;
  margin: 25px 0px 10px 0px;
  padding: 20px;
}

.recipe-summary {
  font-size: 1rem;
  padding: 20px;
  font-style: italic;
}

.recipe-summary p {
  font-size: 1.7rem;
}

.skip-to-recipe-btn {
  text-decoration: none;
  background-color: rgba(190, 38, 34, .80);
  color: white;
  border-radius: 8px;
  padding: 3px;
  font-size: 2rem;
  
}

.blog p {
  max-width: 700px;
  line-height: 17px;
  padding: 1px 20px 1px 20px;
  text-align: justify;
}

.current-recipe {
  background-color: rgb(255, 231, 190);
  border: solid 3px brown;
  color: black;
  padding: 20px;
  margin: 0px 0px 100px 0px;
}

.current-recipe img {
  max-width: 450px;
  border:solid 3px rgb(235, 208, 161);
  padding: 4px;
}

footer {
  color: brown;
  background-color: pink;
  height: 80px;
  padding: 15px;
  font-size: 1.3rem;
}
